[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=freespades %U
Name=FreeSpades
GenericName=Sandbox building and FPS videogame
Comment=Open-source clone of Ace of Spades
Keywords=game;fps;sandbox;voxel;aos;
Icon=freespades
Categories=Game;ActionGame;
MimeType=x-scheme-handler/aos;
